<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {% include "navbar.html" %}
    <header>
        <h1>{{ title | default: "My Blog" }}</h1>
    </header>
    <div class="main-border-wrap">
       <main>
            <div class="content">
                {{ content }}
            </div>
        </main>    
    </div>
 
    {% include "footer.html" %}
</body>
</html>